.container {
    display: grid;
    width: 360px;
    height: 360px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}
.game-square {
    border: 1px solid black;
}